/build/

.classpath

.project

.settings/.jsdtscope

*.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

apd-tpo-web.iml

*.bin

*.lock

.gradle/buildOutputCleanup/cache.properties

.gradle/vcsWorkingDirs/gc.properties
/.gradle/
WebContent/deposito/.DS_Store
