<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>APD TPO WEB</display-name>
	<servlet>
		<description></description>
		<display-name>Clientes</display-name>
		<servlet-name>clientes</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.ClientesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clientes</servlet-name>
		<url-pattern>/clientes</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Articulos</display-name>
		<servlet-name>articulos</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.ArticulosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>articulos</servlet-name>
		<url-pattern>/articulos</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Administracion</display-name>
		<servlet-name>administracion</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.AdministracionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>administracion</servlet-name>
		<url-pattern>/administracion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Pedidos</display-name>
		<servlet-name>pedidos</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.PedidosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pedidos</servlet-name>
		<url-pattern>/pedidos</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Compras</display-name>
		<servlet-name>compras</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.ComprasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>compras</servlet-name>
		<url-pattern>/compras</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Deposito</display-name>
		<servlet-name>deposito</servlet-name>
		<servlet-class>edu.uade.apd.tpo.web.servlet.DepositoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deposito</servlet-name>
		<url-pattern>/deposito</url-pattern>
	</servlet-mapping>
</web-app>