<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>APD TPO WEB</display-name>
  <servlet>
    <description></description>
    <display-name>Clientes</display-name>
    <servlet-name>clientes</servlet-name>
    <servlet-class>edu.uade.apd.tpo.web.servlet.ClientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientes</servlet-name>
    <url-pattern>/clientes</url-pattern>
  </servlet-mapping>
</web-app>